body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: ease 0.3s;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

section {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home{
    /* height: 500px; */
    background-color: #ffffff;
    border: #f4f4f4 2px solid;
    box-shadow: 10px 5px 5px;
    margin: 10px;
}

#rooms{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: #ffffff;
    border: #f4f4f4 2px solid;
    box-shadow: 10px 5px 5px;
    margin: 10px;
}

#services{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: #ffffff;
    border: #f4f4f4 2px solid;
    box-shadow: 10px 5px 5px;
    margin: 10px;
}

#contact{
    background-color: #ffffff;
    border: #f4f4f4 2px solid;
    box-shadow: 10px 5px 5px;
    /* background-color: green; */
    margin: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    /* display: grid; */
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#home img{
    height: 50%;
}

.carousel-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    /* text-align: center; */
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}